
@media (max-width: 770px) {
    .bottom-logo{
        width: 50px;
    }
}
@media (max-width: 1170px) {
    .bottom-logo{
        width: 80px;
    }
    .bottom-logos{
        margin-left: 20%;
    }
}
@media (min-width: 1170px) {
    .bottom-logo{
        width: 120px;
    }
    .bottom-logos{
        margin-left: 25%;
    }
}