
@media (max-width: 1170px) {
    .footer{
        text-align: center;
        font-size: .8em;
        color: white;
        background-color: #2e3133;
        height: 70px;
        /* margin-top: 132px !important; */
        margin-top: 10% !important;
        padding-top: 20px;
    }
}
@media (min-width: 1170px) {
    .footer{
        text-align: center;
        font-size: .8em;
        color: white;
        background-color: #2e3133;
        height: 70px;
        margin-top: 10%;
        margin-bottom: -25px;
        padding-top: 20px;
    }
}