
@media (max-width: 770px) {
    .logo-header {
        width: 136px;
        margin-left: 1%;
    }
}
@media (max-width: 1170px) {
    .logo-header {
        width: 165px;
        margin-left: 12%;
    }
}
@media (min-width: 1170px) {
    .logo-header {
        width: 236px;
        margin-left: 35%;
    }
    .nav-links{
        margin-left: 5%;
    }
}

.dropdown:hover .dropdown-menu {display: block;}