.btn-seccion{
    text-align: left;
    color: black;
    background-color: #eeeeee;
    margin: 5px;
}

.icon-seccion{
    float: right;
}
.collapse-seccion-text{
    color: black;
    font-size: .9em;
}
.seccion-2nd-lvl{
    width: 80%;
}